body {text-align: center; background:#F2E1EE}
.table {
list-style: none;
width: 10 px; }
.table li{
margin: 20px;
font-family: Trebuchet MS sans-serif;
font-size: 20px;
text-align: center;

   }
.table li a {
display: block;
padding: 20px 40px;
margin:auto;
background: #D8BFD8;
color: #392C2C;
text-decoration: none;
position: relative;
width:250px;
border: thick outset #D8BFD8
}
.table li a:hover{
opacity:0.7}
